<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TO DO LIST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SplitTheBill.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div1 class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Task" asp-action="Index">To Do List</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div1 class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Task" asp-action="Index">Task List</a>
                        </li>
                    </ul>
                </div1>
            </div1>
        </nav>
    </header>
    <br> </br>
    <style>
    body{
        background: rgb(10,6,82);
        background: linear-gradient(339deg, rgba(10,6,82,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
    }
    </style>

    <div class="container">
        <style>
        div {
            background-color:white;
            border-radius: 25px;
            padding-top: 20px;
        }
        </style>
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        <div1 class="container">
            &copy; 2022 - To Do List
        </div1>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
